Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as WORKER_NAME

In [64]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\asus\anaconda3\envs\tensorflow\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\asus\anaconda3\envs\tensorflow\lib\site-packages (from mysql-connector-python) (3.19.4)

In [65]:
import mysql.connector as conn

In [66]:
myconn = conn.connect(host = "localhost", user = "root", password = "Root@123")
myconn

In [68]:
## cursor is a pointer to where system will start reading or writing
cursor = myconn.cursor()

In [69]:
## fetching all the dabases in local sql_workbench
cursor.execute("show databases")
cursor.fetchall()

[('cardataset',),
 ('dev',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [93]:
### here we will use the dev database

cursor.execute("use dev")

In [94]:
cursor.execute("show tables")

In [95]:
cursor.fetchall()

[('datascientist',), ('employees',), ('glassdata',)]

In [101]:
cursor.execute("select FIRST_NAME as WORKER_NAME from dev.employees ")

In [102]:
cursor.fetchall()

[('Donald',),
 ('Douglas',),
 ('Jennifer',),
 ('Michael',),
 ('Pat',),
 ('Susan',),
 ('Hermann',),
 ('Shelley',),
 ('William',),
 ('Neena',),
 ('Lex',),
 ('Alexander',),
 ('Bruce',),
 ('David',),
 ('Valli',),
 ('Diana',),
 ('Nancy',),
 ('Daniel',),
 ('John',),
 ('Ismael',),
 ('Jose Manuel',),
 ('Luis',),
 ('Den',),
 ('Alexander',),
 ('Shelli',),
 ('Sigal',),
 ('Guy',),
 ('Karen',),
 ('Matthew',),
 ('Adam',),
 ('Payam',),
 ('Shanta',),
 ('Kevin',),
 ('Julia',),
 ('Irene',),
 ('James',),
 ('Steven',),
 ('Laura',),
 ('Mozhe',),
 ('James',),
 ('TJ',),
 ('Jason',),
 ('Michael',),
 ('Ki',),
 ('Hazel',),
 ('Renske',),
 ('Stephen',),
 ('John',),
 ('Joshua',),
 (None,)]

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [103]:
cursor.execute("select distinct JOB_ID from dev.employees")

In [104]:
cursor.fetchall()

[('SH_CLERK',),
 ('AD_ASST',),
 ('MK_MAN',),
 ('MK_REP',),
 ('HR_REP',),
 ('PR_REP',),
 ('AC_MGR',),
 ('AC_ACCOUNT',),
 ('AD_VP',),
 ('IT_PROG',),
 ('FI_MGR',),
 ('FI_ACCOUNT',),
 ('PU_MAN',),
 ('PU_CLERK',),
 ('ST_MAN',),
 ('ST_CLERK',),
 (None,)]

Q-3. Write an SQL query to show the last 5 record from a table.

In [105]:
cursor.execute("select * from employees order by EMPLOYEE_ID desc limit 5")

In [106]:
cursor.fetchall()

[(206,
  'William',
  'Gietz',
  'WGIETZ',
  '515.123.8181',
  '07-JUN-02',
  'AC_ACCOUNT',
  8300,
  ' - ',
  205,
  110),
 (205,
  'Shelley',
  'Higgins',
  'SHIGGINS',
  '515.123.8080',
  '07-JUN-02',
  'AC_MGR',
  12008,
  ' - ',
  101,
  110),
 (204,
  'Hermann',
  'Baer',
  'HBAER',
  '515.123.8888',
  '07-JUN-02',
  'PR_REP',
  10000,
  ' - ',
  101,
  70),
 (203,
  'Susan',
  'Mavris',
  'SMAVRIS',
  '515.123.7777',
  '07-JUN-02',
  'HR_REP',
  6500,
  ' - ',
  101,
  40),
 (202,
  'Pat',
  'Fay',
  'PFAY',
  '603.123.6666',
  '17-AUG-05',
  'MK_REP',
  6000,
  ' - ',
  201,
  20)]